*:not(.monaco-editor, .monaco-editor *) {
	box-sizing: border-box;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		helvetica,
		Cantarell,
		Ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
}

body {
	overflow: hidden;

	--outline-width: 2px;
	--outline-color: rgb(77, 137, 232);
	--outline-radius: 8px;

	--main-padding: 8px;

	--frame-border-color: #d9d9d9;

	--preview-width: 50vw;

	--input-radius: 3px;

	padding: 0;
	margin: 0;
	background-color: #e1e1e1;
}

.main-ui {
	display: grid;
	grid-template-areas:
		'header header header'
		'editor divider preview'
		'gallery divider preview';
	grid-template-columns: 1fr 8px var(--preview-width);
	grid-template-rows: 60px 50% 1fr;
	colunn-gap: 0;
	row-gap: var(--main-padding);
	padding: var(--main-padding);
	height: 100vh;

	&.main-ui--only-gallery {
		grid-template-areas:
			'header'
			'gallery';
		grid-template-rows: 60px 1fr;
		grid-template-columns: 1fr;

		nav {
			height: 100%;
		}
	}
}

.header {
	grid-area: header;
	display: flex;
	flex-flow: row;
	gap: var(--main-padding);

	.header__inner {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 8px;
		text-decoration: none;
		color: rgb(64 64 63);
		font-weight: bold;

		.title {
			position: relative;
			bottom: -4px;
		}
	}

	settings {
		align-self: center;
	}
}

#preview {
	grid-area: preview;

	&,
	& > iframe {
		width: 100%;
		height: 100%;
		border: 1px solid var(--frame-border-color);
		border-radius: 8px;
	}
}

nav {
	grid-area: gallery;
	position: relative;
	height: 100%;
	padding: var(--outline-radius);
	border-radius: var(--outline-radius);
	overflow: hidden;
	background-color: white;

	ul {
		display: flex;
		align-content: flex-start;
		flex-flow: row wrap;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
		padding: 0;
		padding: 16px;
		margin: 0;
		gap: 16px;

		li {
			list-style: none;
		}
	}
}

#editor-container {
	grid-area: editor;
	margin-bottom: 1px;
	padding: var(--outline-radius);
	border-radius: var(--outline-radius);
	overflow: hidden;
	background-color: white;
	.monaco-editor {
	}
}

.monaco-editor {
	width: 100% !important;
	height: calc(100% - 100px) !important;
}

.small-preview {
	position: relative;
	display: block;
	border: var(--outline-width) solid transparent;
	border-radius: var(--outline-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: black;
	text-decoration: none !important;
	transition: all 100ms;

	&:hover {
		transform: scale(1.05);
	}

	iframe {
		border-color: var(--frame-border-color);
		border-style: solid;
		border-width: 4px;
		border-radius: 16px;
		position: absolute;
	}
}

.divider {
	grid-area: divider;
	line-height: 6px;
	display: flex;
	align-items: center;
	cursor: col-resize;
	transition: background-color 200ms;

	&:hover {
		background-color: #ccc;
	}

	.dots {
		text-align: center;
		width: 100%;
		position: relative;
		left: 1px;
		color: gray;
	}
}

@keyframes message {
	0% {
		transform: scale(0);
	}

	90% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

#submit-form {
	label {
		display: block;
		font-size: 14px;
	}

	form {
		display: flex;
		align-items: stretch;
		flex-flow: row wrap;
		gap: 8px;
		justify-content: flex-end;
		margin-top: var(--main-padding);
	}

	input {
		border-radius: var(--input-radius);
		font-size: 14px;
		padding: var(--main-padding);
	}

	input[type='text'] {
		border: 1px solid black;
	}

	input[type='submit'] {
		background-color: #f48120;
		color: white;
		font-weight: bold;
		border: 2px solid #ffc18e;
		cursor: pointer;

		&:hover {
			filter: brightness(1.1);
		}
	}

	.message {
		border: 1px solid #0000006b;
		border-radius: var(--input-radius);
		padding: var(--main-padding);
		background: hsl(27.45deg 90.6% 54.12%);
		color: white;
		font-style: italic;
		font-size: 14px;
		display: block;
		margin: 0 auto;
		width: auto;
		box-shadow: 1px 1px 4px 0px #00000059;
		animation: message 300ms;
		max-width: max-content;
	}
}

select {
	border-radius: var(--input-radius);
	background-color: white;
	padding: var(--main-padding);
	border: 1px solid black;
}

settings {
	button {
		--button-walls-color: black;
		background-color: white;
		border: 1px solid var(--button-walls-color);
		border-radius: 3px;
		box-shadow:
			1px 1px 0px var(--button-walls-color),
			2px 2px 0px var(--button-walls-color);
		position: relative;
		left: -2px;
		bottom: 2px;
		padding: var(--main-padding);
		cursor: pointer;

		&:hover {
			box-shadow:
				1px 1px 0px var(--button-walls-color),
				2px 2px 0px var(--button-walls-color),
				3px 3px 0px var(--button-walls-color);
			left: -3px;
			bottom: 3px;
		}

		&:active {
			box-shadow: 1px 1px 0px var(--button-walls-color);
			left: -1px;
			bottom: 1px;
		}
	}
}
